<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4 style="font-size: larger; font-weight: bold;">{{data.subject}}</h4>
    <p style="font-size: 28px; font-weight: normal;">{{data.message}}</p>
    <h4> If you are interested Please Contact with me via email or phone number </h4>
    <h5 style="font-weight: bold; font-size: 36px;"> Name : {{data.client_name}}</h5>
    <h5 style="font-weight: bold; font-size: 36px;"> Email: {{data.client_email}}</h5>
    <h5 style="font-weight: bold; font-size: 36px;"> Phone Number: {{data.client_phone}}</h5>
</body>
</html>