{% load static %}
<div class="content-block" id="myAbout">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="about-left-img mb-3 text-center">
                    <img src="{% static 'img/rana.jpeg' %}" class="rounded-circle" alt="Cinque Terre" width="304"
                        height="236">
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col">
                        <h2 class="text-uppercase">Biography</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates, dignissimos.</p>
                        <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id doloribus ratione
                            totam qui
                            minus delectus. Sunt eum non sequi tempore?</p>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col education">
                        <h2 class="text-uppercase">Education</h2>
                        <ul class="ul-edu fa-ul ">
                            <li>
                                <i class="fa-li fas fa-graduation-cap ml-2 float-left " style="font-size: 30px;"></i>
                                <div class="description ml-4">
                                    <strong class="course">Bachelor of Science in Computer Science &
                                        Engineering (CSE), 2019</strong><br>
                                    <span class="institution">United International University,Dhaka</span>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col achievement">
                        <h2 class="text-uppercase">achievement</h2>
                        <ul></ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col certificates">
                        <h2 class="text-uppercase">certificates</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>