<style>
#myExperience{
    background-color: #fff;
    
}
.card-body{
    box-shadow: 0px 10px 24px rgba(70, 91, 186, 0.24);
}
</style>
<div class="content-block" id="myExperience">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <h2 class="section-title text-uppercase mb-3">Work Experience</h2>
            </div>
            <div class="col-12 col-lg-9">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="container">
                            <h4 class="card-title exp-title text-muted mt-0 mb-1">Software Engineer</h4>
                            <h6 class="card-title exp-company text-muted my-0">PyronLab</h6>
                            <div class="text-muted exp-meta">Oct 2020 – July 2021
                            <span class="middot-divider"></span>
                            <div class="tasks"> Tasks
                                <ul>
                                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>