{% load static %}
<div class="content-block" id="myHeader">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="banner_content my-5">
                    <h3 class="text-uppercase">Hell0</h3>
                    <h1 class="text-uppercase">I am Sohel Rana</h1>
                    <h5 class="text-uppercase">junior django developer</h5>
                    <div class="d-flex align-items-center mt-5">
                        <a class="btn btn-lg" id="hire_btn" href="/#myContact" data-target="#myContact"><span>Hire
                                Me</span></a>
                        <a class="btn btn-lg mx-5" href="/media/cv/Sohel's Resume .pdf" id="cv_btn" download><i
                                class="fas fa-file-download" style="font-size: 28px;"></i><span class="ml-2">Get
                                CV</span></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="home_right_img">
                    <img class="w-100" src="{% static 'img/portfolio_Pro.png'%}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-7">
                <div class="social-media">
                    <h4 class="text-uppercase">get in touch</h4>
                    <div class="d-flex social-icon text-center">
                        <a href="https://www.facebook.com/sohel.arfin.71"><i class="fab fa-facebook-square"></i></a>
                        <a class="mx-2" href="https://www.linkedin.com/in/sohel-rana-0a73861a4/"><i
                                class="fab fa-linkedin"></i></a>
                        <a class="mr-2" href="https://github.com/sohel284"><i class="fab fa-github-square"></i></a>
                        <a href="/#myContact" data-target="myContact"><i class="fas fa-envelope-square"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>