{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    body {
        font-family: 'Nunito Sans', sans-serif;
    }

    .item-desc {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #595C6E;
    }

    .item-title {
        font-family: 'Oxygen', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
    }

    h2,
    h4 {
        font-family: 'Oxygen', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 42px;
        color: #000000;
    }

    #hire_btn {
        background-color: #ea000d;
        border: solid 2px #ea000d;
        color: #ffffff;
        width: 150px;
        box-shadow: 0px 8px 24px rgba(70, 91, 186, 0.24);
        border-radius: 6px;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 24px;
        line-height: 36px;
        font-style: normal;

    }

    #hire_btn:hover {
        background-color: #262626;
        border: solid 2px #262626;
        color: #ffffff;
    }

    #cv_btn {
        background-color: #262626;
        border: solid 2px #262626;
        color: #ffffff;
        width: 150px;
        box-shadow: 0px 8px 24px rgba(70, 91, 186, 0.24);
        border-radius: 6px;
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-size: 24px;
        line-height: 36px;

    }

    #cv_btn:hover {
        background-color: #ea000d;
        border: solid 2px #ea000d;
        color: #fff;
    }

    #mySkill {
        background-color: #FBFBFB;
    }

    #myProject {
        background-color: #FBFBFB;
    }

    #myContact {
        background-color: #FBFBFB;
    }

    i {
        font-size: 48px;
    }

    .fa-python {
        color: #4B8BBE;
    }

    .fa-js-square {
        color: #f0db4f;
    }

    .fa-vuejs {
        color: #42b883;
    }

    .fa-html5 {
        color: #e34c26;
    }

    .fa-css3-alt {
        color: #264de4;
    }

    .fa-ubuntu {
        color: #aa6128;
    }

    .fa-windows {
        color: #00adef;
    }

    .fa-database {
        color: #50a4e6;
    }

    .fa-android {
        color: #3cb474;
    }

    .fa-bootstrap {
        color: #8467e4;
    }

    #all_btn {

        border: solid 1px #262626;
        background-color: #262626;
        color: #ffffff;
    }

    #pers_btn {

        border: solid 1px #ea000d;
        background-color: #ea000d;
        color: #ffffff;
    }

    #prof_btn {

        border: solid 1px #ea000d;
        background-color: #ea000d;
        color: #ffffff;

    }

    #pers_btn:hover {
        border: solid 1px #262626;
        background-color: #262626;
        color: #ffffff;
    }

    #prof_btn:hover {
        border: solid 1px #262626;
        background-color: #262626;
        color: #ffffff;
    }

    #pers_btn:focus {
        outline: none !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    #prof_btn:focus {
        outline: none !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    #all_btn:focus {
        outline: none !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .form-group input,
    .form-group textarea {
        border: 1px solid #ea000d;
        border-radius: 6px;

    }

    .form-group label {
        font-family: 'Oxygen', sans-serif;
    }

    input:focus {
        outline: none;
    }

    .btn-submit {
        background-color: #ea000d;
        border: solid 2px #ea000d;
        color: #ffffff;
        box-shadow: 0px 4px 12px rgba(70, 91, 186, 0.24);
        border-radius: 6px;
    }

    .btn-submit:hover {
        background-color: #262626;
        border: solid 2px #262626;
        color: #ffffff;
        box-shadow: 0px 4px 12px rgba(70, 91, 186, 0.24);
        border-radius: 6px;
    }

    nav {
        box-shadow: 6px 6px 6px #eeeeee;

    }

    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: #ea000d;
    }


    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: #262626;
    }

    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #ea000d;
    }
</style>
{% endblock css %}

{% block body %}
{% include 'header.html' %}

<br>
<br>
{% include 'skill.html' %}
<br>
<br>
{% include 'experience.html' %}
<br>
<br>
{% include 'project.html' %}
<br>
<br>
{% include 'about.html' %}
<br>
<br>
{% include 'contact.html' %}

{% endblock body %}

{% block js %} {% endblock js %}