<div class="content-block" id="mySkill">
    <div class="container py-5">
        <h2 class="section-title mb-3">Technical Skills</h2>
        <div class="row">
            <div class="item col-6 col-lg-4">
                <div class="item-inner">
                    <div class="item-icon">
                        <i class="fab fa-python"></i>
                    </div>
                    <h3 class="item-title">Python &amp; Django</h3>
                    <div class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, impedit mollitia. Ex unde aliquam magni nam, facere perspiciatis eligendi officiis.</div>
                </div>
            </div>
            <div class="item col-6 col-lg-4">
                <div class="item-inner">
                    <div class="item-icon">
                        <i class="fab fa-js-square mr-4"></i><i class="fab fa-vuejs"></i>
                    </div>
                    <h3 class="item-title">JavaScript &amp; Vue </h3>
                    <div class="item-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quasi, impedit mollitia. Ex unde aliquam magni nam, facere perspiciatis eligendi officiis.</div>
                </div>
            </div>
            <div class="item col-6 col-lg-4">
                <div class="item-inner">
                    <div class="item-icon">
                        <i class="fab fa-html5 mr-4"></i><i class="fab fa-css3-alt mr-4"></i>
                        <i class="fab fa-bootstrap"></i>
                    </div>
                </div>
                <h3 class="item-title">HTML, CSS &amp; Bootstrap</h3>
                <div class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, impedit mollitia. Ex unde aliquam magni nam, facere perspiciatis eligendi officiis.</div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h2 class="section-title  mb-3">What Technology I use</h2>
        <div class="row">
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-con">
                        <i class="fab fa-github-square"></i>
                    </div>
                </div>
                <h4 class="item-title">GitHub</h4>
            </div>
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon">
                        <i class="fas fa-database"></i>
                    </div>
                </div>
                <h4 class="item-title">PostgreSQL, SQLite &amp; MySQL </h4>
            </div>
            
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-con">
                        <img class="mr-4" src="https://img.icons8.com/ios-glyphs/60/4a90e2/visual-studio.png"/>
                        <img class="mr-4" src="https://img.icons8.com/color/48/000000/pycharm.png"/>
                        <img class="" src="https://img.icons8.com/emoji/48/000000/atom-symbol-emoji.png"/>
                    </div>
                </div>
                <h4 class="item-title">Visual Studio Code, Pycharm &amp; Atom</h4>
            </div>
            <div class="item col-6 col-lg-3">
                <div class="item-innner">
                    <div class="item-icon">
                        <i class="fab fa-ubuntu mr-4"></i>
                        <i class="fab fa-windows"></i>
                    </div>
                </div>
                <h4 class="item-title"> Ubuntu 18.04 &amp; Windows 10</h4>
            </div>

        </div>
    </div>
    <div class="container mt-5">
        <h2 class="section-title mb-3">Basic Kowledge</h2>
        <div class="row">
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon">
                        <img class="mr-4" src="https://img.icons8.com/color/50/000000/c-programming.png"/>
                        <img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo--v1.png"/>
                    </div>
                </div>
                <h4 class="item-title"> C &amp; Java</h3>
            </div>
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon">
                        <img src="https://img.icons8.com/ios-filled/50/26e07f/selenium-test-automation.png"/>
                    </div>
                </div>
                <h4 class="item-title">Selenium-test-automation</h3>
            </div>
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon">
                        <i class="fab fa-android"></i>
                    </div>
                </div>
                <h4 class="item-title">Android</h3>
            </div>
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon">
                        <img src="https://img.icons8.com/ios/50/4a90e2/manual-handling.png"/>
                    </div>
                </div>
                <h4 class="item-title">Software Manual Testing</h3>
            </div>
        </div>
    </div>
    <div class="container pb-5">
        <h2 class="section-title mb-3">What I do</h2>
        <div class="section-intro ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti porro ullam quis minima, adipisci id expedita unde rerum exercitationem vel?</div>
    </div>
</div>